#checkAllCheckboxes {
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    float: none;
    margin-left: -0.45rem !important;
    cursor: pointer;
    border: 3px solid white;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 100%;
    background: #E2E9EF;
    text-align: center;
    padding: 0 !important;
    user-select: none;
    backface-visibility: hidden;
    z-index: 3;
}
#checkAllCheckboxes i {
    pointer-events: none;
    position: relative;
    top: -2px;
}
#checkAllCheckboxes i::before {
    font-size: 0.75rem;
    color: #3EB998;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
}
#checkAllCheckboxes:hover {
    background: #3EB998;
}
#checkAllCheckboxes:hover i::before {
    color: white;
    text-shadow: none;
}
#checkAllCheckboxes[data-checked-all="1"] i::before {
    content: "\f00d" !important;
}

ul[class*=InputfieldCheckboxes] {
    position: relative;
}
ul[class*=InputfieldCheckboxes]::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 1.4rem;
}
ul[class*=InputfieldCheckboxes]:hover #checkAllCheckboxes {
    opacity: 1;
    visibility: visible;
}
